<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Some one applied for job</p>
    <p>
    <br>
    --------------------------
    </p>
    <p>Name: <%= @applicant.name %></p>
    <p>Email: <%= @applicant.salaryp %></p>
    <p>qualification: <%= @applicant.qualification %></p>
    <p>Phone: <%= @applicant.experience %></p>
    <p>
    Message:<br>
    ----------
    </p>
  </body>
</html>